<mat-tab-group>

  <mat-tab label="About">

    <mat-card>
      <mat-card-content>
        <h3>Welcome to the Angular PWA!</h3>

        <p>This is the initial non-progressive web app. Could be better!</p>

        <p><img src="https://s3.amazonaws.com/quantstartmedia/images/i-want-you-to-do-better.jpg" alt="Do better!" width="500"></p>

      </mat-card-content>
    </mat-card>

  </mat-tab>

  <mat-tab label="Runtime Caching">

    <tweet-feeds></tweet-feeds>

  </mat-tab>

  <mat-tab label="App Shell Update">

    <app-shell-update></app-shell-update>

  </mat-tab>

  <mat-tab label="Push Notifications">

    <push-subscription></push-subscription>

  </mat-tab>

</mat-tab-group>