<mat-tab-group>

  <mat-tab label="About">

    <mat-card>
      <mat-card-content>
        <h3>Welcome to the Angular PWA!</h3>

        <p>This is the MVP progressive web app. Could be better!</p>

        <p>Minimum requirements for the web app to call it a progressive one. 
          A PWA should be:</p>
<ol>
  <li>Served via HTTPS. The only exception is - localhost, for the development time  <img src="https://cdn.icon-icons.com/icons2/1154/PNG/64/1486564411-checkmark_81522.png" height="12"></li>
  <li>Fast, responsive, mobile-first  <img src="https://cdn.icon-icons.com/icons2/1154/PNG/64/1486564411-checkmark_81522.png" height="12"></li>
  <li>Available offline (at least the main UI)  <img src="https://cdn.icon-icons.com/icons2/1154/PNG/64/1486564411-checkmark_81522.png" height="12"></li>
  <li>Installable on the OS / Homescreen  <img src="https://cdn.icon-icons.com/icons2/1154/PNG/64/1486564411-checkmark_81522.png" height="12"></li>
</ol>

<p>Nice to have:</p>
<ol start="5">
  <li>Push notifications  <img src="https://cdn.icon-icons.com/icons2/1154/PNG/64/1486564411-checkmark_81522.png" height="12"></li>
  <li>Update flow  <img src="https://cdn.icon-icons.com/icons2/1638/PNG/64/73030noentry_109506.png" height="12"></li>
</ol>


        <p><img src="https://media.makeameme.org/created/i-see-progress.jpg" alt="Good!" width="500"></p>

      </mat-card-content>
    </mat-card>

  </mat-tab>

  <mat-tab label="Runtime Caching">

    <tweet-feeds></tweet-feeds>

  </mat-tab>

  <mat-tab label="App Shell Update">

    <app-shell-update></app-shell-update>

  </mat-tab>

  <mat-tab label="Push Notifications">

    <push-subscription></push-subscription>

  </mat-tab>

</mat-tab-group>