<mat-tab-group>

  <mat-tab label="About">

    <mat-card>
      <mat-card-content>
        <h3>Welcome to the Angular PWA!</h3>

        <p>This is the MVP progressive web app. Could be better!</p>

        <p>Minimum requirements for the web app to call it a progressive one. 
          A PWA should be:</p>
<ol>
  <li>Served via HTTPS. The only exception is - localhost, for the development time</li>
  <li>Fast, responsive, mobile-first</li>
  <li>Available offline (at least the main UI)</li>
  <li>Installable on the OS / Homescreen</li>
</ol>
<p>Magic command to get here: <b>ng add @angular/pwa</b></p>

        <p><img src="https://www.memecreator.org/static/images/memes/3319247.jpg" alt="Do better!" width="500"></p>

      </mat-card-content>
    </mat-card>

  </mat-tab>

  <mat-tab label="Runtime Caching">

    <tweet-feeds></tweet-feeds>

  </mat-tab>

  <mat-tab label="App Shell Update">

    <app-shell-update></app-shell-update>

  </mat-tab>

  <mat-tab label="Push Notifications">

    <push-subscription></push-subscription>

  </mat-tab>

</mat-tab-group>